.primary {
  background-color: #dfe4ea;
}

.primary:hover {
  background-color: #b4b8bd;
}

.secundary {
  background-color: #fdde00;
}

.secundary:hover {
  background-color: #fdde00;
}

button {
  cursor: pointer;
  width: auto;
  border-radius: 0.3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  outline: none;
  border: none;
  color: #0f265c;
  /* background-color: #fdde00; */
}
