<app-toast [(isShow)]="toastVisible" [text]="errorMsg()" />

<main class="w-auto md:w-full flex justify-center items-center flex-col p-inline-2 md:p-inline-0">
	<h1 class="auto-adjust-text">Formulario de {{ this.id() ? 'actualización' : 'registro' }}</h1>
	<hr class="w-full md:w-1/2" />
	<form
		[formGroup]="registerForm"
		(ngSubmit)="onSubmit()"
		class="w-full md:w-1/2 grid grid-cols-1 md:grid-cols-2 gap-1 p-inline-1"
	>
		<app-input class="w-full" label="ID" [control]="registerForm.controls.id" placeholder="ID" />
		<app-input
			class="w-full"
			label="Nombre"
			[control]="registerForm.controls.name"
			placeholder="Nombre"
		/>
		<app-input
			class="w-full"
			label="Descripción"
			[control]="registerForm.controls.description"
			placeholder="Descripción"
		/>
		<app-input
			class="w-full"
			label="Logo"
			[control]="registerForm.controls.logo"
			placeholder="Logo"
		/>
		<app-input
			class="w-full"
			label="Fecha Liberación"
			[control]="registerForm.controls.date_release"
			inputType="date"
			placeholder="Fecha Liberación"
		/>
		<app-input
			class="w-full"
			label="Fecha Revisión"
			[control]="registerForm.controls.date_revision"
			inputType="date"
			placeholder="Fecha Revisión"
		/>
	</form>
	<section class="flex flex-col md:flex-row justify-center items-center md:gap-5 w-full">
		<app-button
			class="w-full md:w-auto"
			[isFull]="true"
			[label]="this.id() ? 'Cancelar' : 'Reiniciar'"
			(onClick)="this.id() ? onCancel() : onReset()"
		/>
		<app-button
			class="w-full md:w-auto"
			label="Regresar"
			(onClick)="onBack()"
			color="second-brand"
			[isFull]="true"
		/>
		<app-button
			class="w-full md:w-auto"
			label="Enviar"
			(onClick)="onSubmit()"
			color="second-brand"
			[isFull]="true"
		/>
	</section>
</main>
